html {
  height: 100%;
}

body {
  background-image: linear-gradient(to top, #888, #fff);
}

.name {
  font-size: 1.5em;
  margin: 1em 0;
}

.profession {
  font-size: 1em;
}

.name, .profession {
  color: #4F4F4F;
  font-family: sans-serif;
  text-align: center;
}

.content {
  text-align: center;
}

.personal-picture {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  margin: 2em 0;
  box-shadow: 0 0 1em #ccc;
}

.external-links {
  text-align: center;
}

.social a {
  width: 35px;
  height: 35px;
  display: block;
  text-indent: -99999px;
}

.social li {
  display: inline-block;
}

.twitter {
  background: url('../img/social-icons.png') no-repeat -1px 0;
}
.gplus {
  background: url('../img/social-icons.png') no-repeat -41px 0;
}
.linkedin {
  background: url('../img/social-icons.png') no-repeat -1px -36px;
}
.github {
  background: url('../img/social-icons.png') no-repeat -78px -36px;
}

@media only screen and (min-device-width: 480px) {
  .name {
    font-size: 3em;
  }

  .profession {
    font-size: 2em;
  }

  .personal-picture {
    height: 16em;
    width: 16em;
    border-radius: 50%;
    margin: 2em 0;
    box-shadow: 0 0 1em #ccc;
  }
}
