body {
  background-color: #eee;
}

.card {
  background-color: #fff;
  display: inline-block;
  margin: 25px;
  height: 150px;
  width: 150px;
}

.z1 {
  box-shadow: 0px 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.z2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.z3 {

}

.z4 {

}

.z5 {

}
